* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.bg-container {
    background-color: #222544;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    padding: 10px;

}

.heading {
    color: #2d9cca;
}

.box {
    color: #95cae0;
    border: 1px solid #f1f1f1;
    margin: 8px;
    padding: 10px;
    border-radius: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}